# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# mypy
.mypy_cache

# JetBrains IDE
.idea/

# VSCode
.vscode/


# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# env
.env

# venv
.venv
venv/
*.swp
